In [1]:
# importing dependencies

import pandas as pd #for datamanupulation and analysis
import numpy as np #for mathemetical calculations

import seaborn as sns #for data visualisation
from sklearn.model_selection import train_test_split #splitting the data for modeling
from sklearn.linear_model import Lasso #machine learning model
from sklearn import metrics #model predicition analysis

In [2]:
# reading the dataset

df = pd.read_csv(r"E:\Machine learning projects\Car Price Prediction\car data.csv")

In [3]:
# getting the first 5 Rows

df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
# getting the structure of dataset

print(f"Rows in df = {df.shape[0]}")
print(f"Columns in df = {df.shape[1]}")

Rows in df = 301
Columns in df = 9

In [9]:
# getting the null values

df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [10]:
# getting the duplicates

df.duplicated().sum()

2

In [17]:
# getting the duplicate rows view

df[df.duplicated(keep=False)]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
15,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
51,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0
93,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0